.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 80px;
  }

  .navbar-collapse {
    justify-content: end;
    margin-right: 0px;
  }

  .codo-a-codo {
    height: 50px;
  }

  .nombre-pag {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }

  .nav-link {
    color: rgb(160, 160, 160);
    text-decoration: none;
    font-size: 18px;
  }

  #link-active {
    color: white;
  }
  
  #Comprar-tickets {
    color: green;
  }
  
  .navbar-nav {
    background-color: #212529;
    padding-left: 15px;
  }


  #imagen-c {
    filter:brightness(50%); 
    object-fit: cover; 
  }

  .navbar-toggler-icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    vertical-align: middle;
    background-size: 100%;
  }

  .navbar-brand {
    padding-left: 90px;
  }

#containercard {
    margin-top: 30px;
}

.card-text1 {
    font-size: 20px;
    padding-top: 7px;
}

.card-text {
    padding-top:7px;
    color: rgb(145, 145, 145);
    font-weight:450;
    font-size:18px;
}

#cardE {
    border-color: rgba(10, 103, 243, 0.979);
}


#cardT {
    border-color: rgba(40, 169, 255, 0.979);
}


#cardJ{
    border-color: rgba(248, 252, 47, 0.979);
}


#nombreform {
    padding-bottom: 5px;
    padding-right: 3px;
  }
  
  #apellidoform {
    padding-bottom: 5px;
    padding-left:3px;
  }
  
  #correoform {
    padding-bottom: 10px;
  }

  .form-text {
    padding-top: 4px;
    padding-bottom: 10px;
  }
  
  #categoriaform {
    padding-bottom: 10px;
    padding-left:3px;
  }

  #cantidadform {
    padding-bottom: 10px;
    padding-right:3px;
  }

  #btnresumen {
    margin-left:6px;
    margin-right:0px;
    font-size: 18px;
    width: 49.5%;
    background-color: #96C93E;
    border: 2px solid #96C93E;
  }

  #btnborrar {
    margin-right:6px;
    margin-left:0px;
    width: 49.5%;
    font-size: 18px;
    background-color: #96C93E;
    border: 2px solid #96C93E;
  }

  .overlay {
    background-color: rgb(0,0,0,.2);
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display:flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;

  }

  .overlay.active {
    visibility: visible;
  }
  
  .popup {
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    border-radius: 3px;
    padding:20px;
    text-align: center;
    width: 600px;
  }

  .popup h2 {
    color: #96C93E;
    padding-bottom: 20px;
  }

  .popup h3 {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .btn-cerrar-popup {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: rgb(78, 78, 78);
    transition: .3 ease all;
  }

  .btn-cerrar-popup:hover {
    color: black;
  }

  .compra {
    font-size: 18px;
    text-align: center;
  }

  .compra p {
    padding: 2px;
  }

  .compra span {
    font-weight: 700;
  }

  .popup h4 {
    color:#4ea8e8;
    padding-top: 15px;
  }

  .footer {
    background: linear-gradient(rgb(35, 55, 81), #395e78);
    height: 80px;
    margin-top: 65px;
    padding-left: 20px;
    padding-right: 2px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
  }
  
  .footer a {
    text-decoration: none;
    color: white;
    width: 110px;
    margin-right: 3px;
    margin-left: 3px;
    padding-left: 3px;
    padding-right: 3px;
  }
  
  #footer {
    height:80px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    align-self: center;
  }
